body{
    font-family: 'Domine', serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
}
*{
    margin: 0;
    padding: 0;
}
.h3{
   font-family: 'EB Garamond', serif;
   font-size: 45px;
   margin-bottom: 30px;
}
.h33{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    
}
.h1{
    font-family: 'Dancing Script', cursive;
    font-size: 100px;
}


.fa-solid{
    color: rgb(247, 243, 243);
    margin-left: 30px;
    margin-right: 60px;
    font-size: 22px;
   
}
header{
    background: url(kk/1st\ export.png);
    height: 105vh;
    width: 100%;
    position: relative;
    background-position: center top;
    background-size: cover;
    
}
.logo{
    height: 90px;
    width: auto;
    margin-top: 35px;
    float: left;
    margin-left: 50px;
}
/* Nav bar */
nav{
    width: 80%;
    height: 150px;
    border-top: 1px solid black;
    background-color: #111;
    margin-left: 240px;
    position: fixed;
    top: 50px;
    z-index: 9;
}
nav ul{
    display: flex;
    padding-top: 80px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    list-style: none;
    display: block;
    padding: 0 20px;
    color: azure;
    text-decoration: none;
    text-transform: uppercase;
    font-weight:400;
    font-size: 20px;
    margin-left: 80px;

}
nav ul li a.active{
    background-color: red;
}
nav ul li a:hover{
    background-color: darkgray;
}
/* Nav bar */

.text-part{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: beige;
}
.btn{
    background-color: rgb(226, 44, 11);
    padding: 10px 30px;
    color: antiquewhite;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}


h2{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 60px;
}
/* ////First part end//// */

/* ///first section part start/// */
/* .container{
    width: 1180px;
} */
.container{
    width: 1980px;
    margin: 0 auto;
   
}
.sh1{
    font-size: 40px;
    text-align: center;
    margin-top: 80px;
}
.First-categori{
   display: flex;
   text-align: justify;
   margin-top: 90px;
   justify-content: center;
   align-items: center;
}
.categori{
    width: 50%;
    padding-left:4%;
}
.categori img{
    width: 80%;
   margin-left: 80px;
} 
.sea-food{
    text-align: center;
     margin-right: 35%; 
}
.categori-details{
    font-size: 25px;
    margin-top: 25px;
    width: 50%;
}
p{
    font-size: 25px;
    color: rgba(92, 83, 83, 0.781);
}
.second{
    margin-left: 90px;
}

.categori-image{
    margin-right: 80px;
}
.thai{
    margin-bottom: 30%;
}
.btn2{
    background-color: rgb(214, 18, 18);
    text-decoration: none;
    color: beige;
    padding: 7px 30px;
    margin-left: 20%;
}
.name{
    margin-top: 20%;
}
/* ///first section part start/// */

/* second section part start */
.p-two{
    color: black;
}
.man{
    margin-bottom:10%;
}
/* second section part end */

/* Third section part start */

h4{
    font-size: 30px;
}

.Third-section{
    display: flex;
    margin-top: 60px;
    margin-left: 189px;
}
.third-part{
    width: 40%;
    background-image: url(kk/fish.png);
    background-repeat: no-repeat;
    display: flex;
    box-shadow: 0px 18px 10px -15px #111;  
    margin-right: 60px;
}
.fish-fry{
    margin-right: 40%;
}
.little-box{
    height: 70px;
    width: 70px;
    background-color: rgb(214, 18, 18);
    border-radius: 80%;
}
.off{
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 20px;
}
.fish{
    margin-bottom: 30px;
    margin-left: 400px;
    box-shadow: 50px;
}
p{
    margin-bottom: 40px;
    
}
.menu-btn{
    margin-top: 15%;
}
.ice{
    margin-right: 20px;
}
.btn3{
    background-color: rgb(214, 18, 18);
    text-decoration: none;
    color: beige;
    padding: 7px 30px;
    margin-left: 20px;
    margin-top: 0px;
    
}
.two{
    background-image: url(kk/sushi.png);
     
}

.three{
    background-image: url(kk/icecream.png);
   
}
    
.four{
    background-image: url(kk/steak.png);
    
}
.btn4{
    background-color: rgb(189, 33, 6);
    padding: 6px 40px;
    color: antiquewhite;
    text-decoration: none;
    display: inline-block;
    margin-top: 160px;
    font-size: 22px;
     margin-left: 45% ;
}

/* collage photo */
h5{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.452);
    margin-right: 30px;

}
.collage{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}
.coll{
    color: red;
}

.card{
    height: 370px;
    background-color: gray;
    color: white;
    font-size: 40px;
    width: 400px;
    margin: 10px;
}
.cards-wrapper{
    display: flex;
    transition: ease 0.5s;
}
.display-area{
width: 1680px;
border: 1px solid black;
overflow-x: hidden;
margin: auto;
}
.dots-wrapper{
    display: flex;
    justify-content: center;
    margin: auto;
}
.dot{
    border: none;
    background-color:rgb(0,0,0,0.3);
    width: 20px;
    height: 20px;
    margin: 5px;
    border-radius: 50%;
    outline: none;
}
.dot:hover{
    background:blue
}
.dot.active{
    background:black
}
.one{
   font-size: large;
}
/* last section */
h4{
    margin-top: 5%;
    text-align: center;
    font-size: 40px;
}
.h{
    margin-top: 3%;
    text-align: center;

}
.text{
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 40px 60px
}
.last-img{
background-image: url(kk/FHFResturent\ 4.png);
background-repeat: no-repeat;
}
footer{
    background-image: url(kk/FHFResturent\ 5.png);
    background-repeat: no-repeat;
    height:300px;
    background-position: right;
}
.input{
    margin-top: 40px;
    height: 90px;
    width: 800px;
    padding: px;
    border: 4px solid rgba(24, 21, 21, 0.247);
    margin-left: 30%;
}
.btn5{
    background-color:red;
    text-decoration: none;
    color: white;
    padding: 15px 40px;
    font-size: 20px;
    margin-left: 75%;
  
}